* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem;
}

.header-top {
  background-color: #ff0500;
  color: #fff;
}

.deep-link {
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #000;
}

a:hover {
  color: #ff0500;
}

.newsletter {
  background: url('assets/img/starting5-homepage.png') center no-repeat;
  background-size: cover;
  height: 240px;
}
