* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

.header-top {
  background-color: #ff0500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}
